@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #fd2c2a; */
  transition: all cubic-bezier(0.23, 1, 0.320, 1);
  background-color: #000;
  color: #fff;
}

canvas {
  pointer-events: none;
}

span.growing {
  background-color: #fd2c2a;
}